/* ===================================================================== 
                    Adding font file here
   ===================================================================== */
@font-face {
    font-family: bold;
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: regular;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: extraBold;
    src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
    font-weight: 800;
}
/* Resetting CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: regular;
}
/* ===================================================================== 
                    Avoiding the horizontal scroll
   ===================================================================== */
html {
    -webkit-overflow-x:hidden;
    overflow-x: hidden;
}
body {
    -webkit-overflow-x:hidden;
    overflow-x: hidden;
}
/* ===================================================================== 
                Header sec containing navigation links
   ===================================================================== */
header {
    position: relative;
    height: 8rem;
    justify-content: center;
}
.nav-lists {
    list-style: none;
    margin-bottom: 0;
}
.nav-links {
    font-family: regular;
    margin: 0 0.5em;
    text-decoration: none;
    color: #696969bd;
    transition: all 0.2s ease;
}
.nav-links:hover {
    color: hsl(5, 85%, 63%);
}
/* ===================================================================== 
                (Hamburger menu icon for mobile-view)
   ===================================================================== */
.mobile-nav-icon {
    height: 3rem;
    width: 3rem;
}
.mobile-nav-icon[name="close-outline"] {
    display: none;
}
/* ===================================================================== 
            Whole section containing article, aside and footer
   ===================================================================== */
section {
    justify-content: center;
    gap: 1rem;
}
p {
    font-size: 15px; /* Styling paragraph wherever <p> used */
}
/* ===================================================================== 
                        Article sec
   ===================================================================== */
article {
    margin-top: 0 !important;
    gap: 2rem;
}
h1 {
    font-size: 3.5rem;
    font-family: extraBold;
    color: hsl(240, 100%, 5%);
    margin-bottom: 0 !important;
}
.web-3-description p {
    margin: 1rem 0;
}
button {
    width: fit-content;
    margin: 0.4rem 0;
    color: hsl(36, 100%, 99%);
    background-color: hsl(5, 85%, 63%);
    outline: none;
    border: 0;
    padding: 0.8rem 2.3rem;
    letter-spacing: 2px;
    font-family: bold;
}
button:hover {
    background-color: rgb(3, 1, 29);
}
/* ===================================================================== 
                            Aside sec
   ===================================================================== */
aside {
    padding: 2rem;
    background-color: rgb(3, 1, 29);
    margin: 0 !important;
}
.news-headline {
    margin: 1rem 0;
}
h2 {
    color: hsl(35, 77%, 62%);
    font-family: bold;
}
h3 {
    font-size: 20px;
    color: hsl(36, 100%, 99%);
}
h3:hover {
    color: hsl(35, 77%, 62%);
    cursor: pointer;
}
h4 {
    font-family: bold;
    color: #8080809c;
}
/* ===================================================================== 
                Cards sec at the bottom
   ===================================================================== */
.card {
    border: 0;
}
.card-text {
    font-family: extraBold;
    font-weight: 700;
    color: hsl(240, 100%, 5%);
}
.card-text:hover {
    color: hsl(5, 85%, 63%);
    cursor: pointer;
}
hr {
    color: white;
}
.cards-sec{
    margin: 2rem 0;
    gap: 1.9rem;
}
.card {
    max-width: 349.8px;
    box-shadow: 4px 4px 7px rgb(204 204 204 / 29%);
}
.card img {
    height: 100%;
}
/* ===================================================================== 
                        Footer sec
   ===================================================================== */
.attribution { 
    padding: 0.5rem;
    font-size: 11px; 
    text-align: center;
    color: white;
    background-color: hsl(240, 100%, 5%);
}
.attribution a { 
    color: hsl(217deg 100% 54%); 
}

/* ===================================================================== 
                Media queries for mobile viewport device
   ===================================================================== */
@media  screen and (max-width:430px) {
    header {
        height: 4.5rem;
    }
    .logo {
        padding: 0 0.5rem;
    }
    .mobile-nav-btn {
        padding-top: 0.5rem;
    }   
    /* ----------------------------------------------------------------------
                    Styling our navigations overlay for Mobile view
        --------------------------------------------------------------------- */
    .nav-lists {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 99;
        background-color: white;
        top: 3.6rem;
        left: 0;
        justify-content: center; 
        align-items: center;
        padding-left: 0;
        overflow-y: hidden;
        transform: translateX(100%);
        transition: all 0.5s linear;
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
    }
    /* ----------------------------------------------------------------------
        IF (active) class present in <nav>, navigation lists will be visible
        --------------------------------------------------------------------- */
    .active .nav-lists {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    /* --------------------------------------------------------------------------------------------------------------
        When (active) class present in <nav>, since navigation lists are visible, close icon also needs to be visible
        ------------------------------------------------------------------------------------------------------------- */
    .active .mobile-nav-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }
    /* ------------------------------------------------------------------------------------------
        When (active) class present and close-icon visible, the hamburger menu needs to be hidden
        ----------------------------------------------------------------------------------------- */
    .active .mobile-nav-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }

    /* styling section for mobile view */
    section {
        gap: 0;
    }
    article {
        padding: 0 !important;
        margin: auto;
        gap: 0.5rem;
    }
    h1 {
        font-size: 2.5rem;
    }
    .web-3-description p {
        margin: 0;
    }
    button {
        margin: 0.5rem 0;
        padding: 0.4rem 2.3rem;
    }
    aside {
        margin: auto !important;
    }
    aside {
        padding: 0.5rem;
    }
    .news-headline p{
        margin-bottom: 0;
        font-size: 10px;
    }
    h3 {
        font-size: 18px; 
    }
    hr {
        margin: 0.5rem;
    }
    .cards-sec{
        margin: 1rem 0;
        gap: 1rem;
    }
    .card-body {
        padding: 0.5rem !important;
    }
    .card-body p {
        margin-bottom: 0 !important;
    }
    .attribution { 
        padding: 0.3rem;
        font-size: 9px;
    }
}
/* ====================================================================
                Media queries for medium devices
   ==================================================================== */
@media screen and (min-width:768px) and (max-width:1024px){
    h1 {
        font-size: 2rem;
    }
    aside {
        padding: 1rem;
    }
    aside p {
        font-size: 12px;
    }
    .news-headline {
        margin:0.5rem 0;
    }
    h2 {
        font-family: bold;
    }
    h3 {
        font-size: 15px;
        color: hsl(36, 100%, 99%);
    }
}
/* ====================================================================
                Media queries for Larger devices
   ==================================================================== */
@media screen and (min-width:1440px) {
    article {
        justify-content: space-between;
    }
}